
@font-face {
  font-family: "ClanCompPro-Medium";
  src: url("ClanCompPro-Medium.ttf");
}

@font-face {
  font-family: "KlinicSlabBoldIt";
  src: url("KlinicSlabBoldIt.otf");
}
@font-face {
  font-family: "KlinicSlabBold";
  src: url("KlinicSlabBold.otf");
}

@font-face {
  font-family: "KlinicSlabBook";
  src: url("KlinicSlabBook.otf");
}
@font-face {
  font-family: "KlinicSlabBookIt";
  src: url("KlinicSlabBookIt.otf");
}
@font-face {
  font-family: "KlinicSlabLight";
  src: url("KlinicSlabLight.otf");
}


@font-face {
  font-family: "OpenSans-Bold";
  src: url("OpenSans-Bold.ttf");
}


@font-face {
  font-family: "OpenSans-Regular";
  src: url("OpenSans-Regular.ttf");
}

@font-face {
  font-family: "OpenSans-Semibold";
  src: url("OpenSans-Semibold.ttf");
}

@font-face {
  font-family: "Signika-Light";
  src: url("Signika-Light.ttf");
}


@font-face {
  font-family: "Signika-Regular";
  src: url("Signika-Regular.ttf");
}

@font-face {
  font-family: "Signika-Semibold";
  src: url("Signika-Semibold.ttf");
}

@font-face {
  font-family: "Signika-Bold";
  src: url("Signika-Bold.ttf");
}

@font-face {
  font-family: "ClanCompPro-News";
  src: url("ClanCompPro-News.ttf");
}

@font-face {
  font-family: "Lato-Light";
  src: url("Lato-Light.ttf");
}


@font-face {
  font-family: "RobotoSlab-Bold";
  src: url("RobotoSlab-Bold.ttf");
}

@font-face {
  font-family: "Roboto-Light";
  src: url("Roboto-Light.ttf");
}














